<div class="alert alert-dark text-center mb-2 lg" role="alert">
   ACTIVIDADES
  </div>

  <div class="card-deck">
    <div class="card">
      <img src="img/ACTIVIDADES/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ELECTRONICA</h5>
        <p class="card-text">Espaciosos laboratorios con tecnologia de ultima generacion se encuentran en la institucion, donde se desarrollaran habilidades tecnicas de todo tipo.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="img/ACTIVIDADES/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DEPORTES</h5>
        <p class="card-text">Una gran seleccion de deportes se encuentran disponibles para clases, tales como: Volleibol, Basquet, Futbol, Handball, etc.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="img/ACTIVIDADES/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ELECTRICIDAD</h5>
        <p class="card-text">La instituccion cuenta con talleres de primera generacion para la especialidad de electricidad; en donde los alumnos aprenden de manera interactiva con sus maestros.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <p style="height: 400px;"></p>
<%- include('pie')-%>
